<html>

<head>
    <link rel='stylesheet' href=' https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.css'>
    <link rel='stylesheet' href='/stylesheets/app.css'>
    <title>BLOG WEBSITE</title>
</head>

<body>
    <div class='ui fixed inverted menu'>
        <div class='ui conatiner'>
            <div class='header item'><i class="quote right icon"></i>Blog Site

            </div>
        </div>
        <% if(currentUser){%>
        <a href="/blogs" class='item'>Home</a>
        <a href="/blogs/new" class='item'>New Post</a>
       <% } %>
        <div class="right menu">
            <% if(currentUser){%>
            <a class="ui item" href="#">Hello, <%=currentUser.username%></a>
            <a class="ui item" href="/logout">
                Logout
            </a>
            <% }else{ %>
            <a class="ui item" href="/register">Register</a>
            <a class="ui item" href="/login">Login</a>
           <% } %>
        </div>
    </div>