<%include partials/header%>
<div class="mybg">
  <div class="mymain">
    <div class="ui middle aligned center aligned grid">
      <div class="column">
        
        <form action="/login" method="POST" class="ui large form">
          <h2 class="ui image header">
            <div class="content">
              <h2 class="text-bold">Log-in to your account</h2>
            </div>
          </h2>
          <div class="ui stacked secondary  segment">
            <div class="field">
              <div class="ui left input">
                <input type="text" name="username" placeholder="Username" required>
              </div>
            </div>
            <div class="field">
              <div class="ui left input">
                <input type="password" name="password" placeholder="Password" required>
              </div>
            </div>
            <button type="submit" class="login">Login</button>
          </div>    
        </form>
       <div class="ui message">
          New to us? <a href="/register">Register</a>
        </div>
      </div>
    </div>
  </div>
</div>
<%include partials/footer%>
